<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0">
		<title>MyPage Login</title>
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	</head>
	<body>
		<div class="container">
			<header>
				<h1>MyPage</h1>
			</header>
			<div class="loginForm">
				<img id="profile" class="profile" src="/static/images/profile.png" alt="Profile Picture">
				<form method="POST" action="#">
					<input id="username" class="username" type="text" name="fname" value="First Name" autocomplete="off"><br>
					<input id="password" class="username" type="text" name="lname" value="Last Name" autocomplete="off"><br>					
					<!-- <input id="remember" class="remember" type="checkbox" name="Vehicle" value="remember">
					<label for="remember">Remember Me</label> -->
					<input id="submit" class="submit" type="submit" name="submit" value="Login">
				</form>
				<!-- <a class="recovery" href="#">Forgot Password&#63;</a> -->
			</div>
			
		</div>
	</body>
</html>